.alert {
	text-align: center;
	color: red;
}
#body {
	
}
#menu {
	float: left;
	display: inline;
}

#logo {
	float: right;
	padding-right: 15px;
}
#header {
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	height: 80px;
}
#content {
	padding: 24px;
}
#foot {
	clear: both;
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
}
.thumbnail {
	width: 12%;
	min-width: 150px;
	height: 80px;
	padding: 4px;
	margin: 5px;
	text-align: center;
	float: left;
	border: 1px solid #dedede;
	display: inline-block;
}
.thumbnail img {
	border: 1px solid #dedede;
	box-shadow: 0px 0px 3px #333;
}
.image {
	margin-top: -15px;
	min-height: 80px;
}
.title {
	
}