<form enctype="multipart/form-data" action="index.php?page=beds" method="post">

<fieldset>

<legend>[+f_b_legend+]</legend>

<label for="b_id">[+f_id+]</label>
<input type="text" id="b_id" name="b_id" />
<br/>

<label for="b_name">[+f_name+]</label>
<input type="text" id="b_name" name="b_name" />
<br/>

<label for="b_id_ward">[+f_id_ward+]</label>
<input type="text" id="b_id_ward" name="b_id_ward" />
<br/>

<label for="b_id_hospital">[+f_id_hospital+]</label>
<input type="text" id="b_id_hospital" name="b_id_hospital" />
<br/>

<label for="b_phone">[+f_phone+]</label>
<input type="text" id="b_phone" name="b_phone" />
<br/>

<label for="b_occupied">[+f_occupied+]</label>
<input type="text" id="b_occupied" name="b_occupied" />
<br/>

<input type="submit" value="[+f_edit+]" name="edit" />
<input type="submit" value="[+f_add+]" name="add" />
<input type="submit" value="[+f_delete+]" name="delete" />
<input type="submit" value="[+f_fetch+]" name="fetch" />
<br/>

<small>[+f_msg+]</small>

</fieldset>
</form>