<form enctype="multipart/form-data" action="index.php?page=upload" method="post">

<fieldset>

<legend>[+form_Legend+]</legend>

<label for="title">[+form_Title+]</label>
<input type="text" id="title" name="title" />
<br/>

<label for="description">[+form_Desc+]</label>
<input type="text" id="description" name="description" />
<br/>

<label for="img">[+form_Browse+]</label>
<input type="file" id="img" name="img" />
<br/>

<input type="submit" value="Upload image" name="multifileupload" />
<br/>
<small>[+form_Message+]</small>

</fieldset>
</form>