<form enctype="multipart/form-data" action="index.php?page=items" method="post">

<fieldset>

<legend>[+f_i_legend+]</legend>

<label for="i_id">[+f_id+]</label>
<input type="text" id="i_id" name="i_id" />
<br/>

<label for="i_name">[+f_name+]</label>
<input type="text" id="i_name" name="i_name" />
<br/>

<label for="i_ingredients">[+f_ingredients+]</label>
<textarea type="text" placeholder="hospital description... " id="i_ingredients" name="i_ingredients"></textarea>
<br/>

<label for="i_texture">[+f_texture+]</label>
<textarea type="text" placeholder="hospital description... " id="i_texture" name="i_texture"></textarea>
<br/>

<label for="i_colour">[+f_colour+]</label>
<textarea type="text" placeholder="hospital description... " id="i_colour" name="i_colour"></textarea>
<br/>

<label for="i_method">[+f_method+]</label>
<textarea type="text" placeholder="hospital description... " id="i_method" name="i_method"></textarea>
<br/>

<label for="i_nutrition">[+f_nutrition+]</label>
<textarea type="text" placeholder="hospital description... " id="i_nutrition" name="i_nutrition"></textarea>
<br/>

<label for="i_reference">[+f_reference+]</label>
<input type="text" id="i_reference" name="i_reference" />
<br/>

<label for="i_image">[+f_image+]</label>
<input type="text" id="i_image" name="i_image" />
<br/>

<label for="i_flavour">[+f_flavour+]</label>
<textarea type="text" placeholder="hospital description... " id="i_flavour" name="i_flavour"></textarea>
<br/>

<input type="submit" value="[+f_edit+]" name="edit" />
<input type="submit" value="[+f_add+]" name="add" />
<input type="submit" value="[+f_delete+]" name="delete" />
<input type="submit" value="[+f_fetch+]" name="fetch" />
<br/>

<small>[+f_msg+]</small>

</fieldset>
</form>