<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>[+title+]</title>
		<link rel="stylesheet" type="text/css" href="css/style_login.css"/>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />
	</head>
	<body>
	<!--page header-->
		<header id="pageheader" role="banner">
			<img id="logo" src="images/logo.png" alt="Emblem logo"/>
			<h1>[+logo+]</h1>
			<nav id="primary" role="navigation">
				<ul>
					<li><a href="index.php">[+m1+]</a></li>
					<li><a href="index.php?page=items">[+m2+]</a></li>
					<li><a href="index.php?page=menus">[+m3+]</a></li>
					<li><a href="index.php?page=menu_items">[+m13+]</a></li>
					<li><a href="index.php?page=menu_sets">[+m14+]</a></li>
					<li><a href="index.php?page=orders">[+m4+]</a></li>
					<li><a href="index.php?page=hospitals">[+m5+]</a></li>
					<li><a href="index.php?page=wards">[+m6+]</a></li>
					<li><a href="index.php?page=beds">[+m7+]</a></li>
					<li><a href="index.php?page=patients">[+m8+]</a></li>
					<li><a href="index.php?page=users">[+m9+]</a></li>
					<li><a href="index.php?page=pat_bed">[+m10+]</a></li>
					<li><a href="index.php?page=pat_diet">[+m11+]</a></li>
					<li><a href="index.php?page=set_location">[+m15+]</a></li>
					<li><a href="index.php?page=bed_pat_diet">[+m16+]</a></li>
					<li><a href="index.php?page=view_order">[+m17+]</a></li>
					<li><a href="index.php?page=logs">[+m18+]</a></li>
					<li><a href="index.php?page=login">[+m19+]</a></li>
				</ul>
			</nav>
		</header>
		<main role="main" class="content" id="contactus_content">
			<h2>[+heading1+]</h2>
			[+content+]
		</main>
		<footer id="pagefooter" role="contentinfo">
			<b>[+f_message+]</b>
		</footer>
	</body>
</html>
