<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>[+title+]</title>
		<link rel="stylesheet" type="text/css" href="css/pagination.css"/>
		<link rel="stylesheet" type="text/css" href="css/A_green.css"/>
		<link rel="stylesheet" type="text/css" href="css/style_login.css"/>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />
	</head>
	<body>
	<!--page header-->
		<header id="pageheader" role="banner">
			<a href="[+logoImage+]">
				<img id="logo" src="images/logo.png" alt="Emblem logo"/>
			</a>
			<h1>[+logo+]</h1>
			<nav id="primary" role="navigation">
				<ul>
					[+nav_main+]
				</ul>
			</nav>
		</header>
		<main role="main" class="content" id="contactus_content">
			<h2>[+heading1+]</h2>
			[+content+]
		</main>
		<footer id="pagefooter" role="contentinfo">
			<b>[+f_message+]</b>
		</footer>
	</body>
</html>
