<form enctype="multipart/form-data" action="index.php?page=users" method="post">

<fieldset>

<legend>[+f_u_legend+]</legend>

<label for="u_id">[+f_id+]</label>
<input type="text" id="u_id" name="u_id" />
<br/>

<label for="u_name">[+f_name+]</label>
<input type="text" id="u_name" name="u_name" />
<br/>

<label for="u_username">[+f_username+]</label>
<input type="text" id="u_username" name="u_username" />
<br/>

<label for="u_password">[+f_password+]</label>
<input type="password" id="u_password" name="u_password" />
<br/>

<label for="u_privileges">[+f_privileges+]</label>
<input type="text" id="u_privileges" name="u_privileges" />
<br/>

<label for="u_department">[+f_department+]</label>
<input type="text" id="u_department" name="u_department" />
<br/>

<label for="u_role">[+f_role+]</label>
<input type="text" id="u_role" name="u_role" />
<br/>

<label for="u_phone">[+f_phone+]</label>
<input type="text" id="u_phone" name="u_phone" />
<br/>

<label for="u_email">[+f_email+]</label>
<input type="email" id="u_email" name="u_email" />
<br/>

<label for="u_regdate">[+f_regdate+]</label>
<input type="text" id="u_regdate" name="u_regdate" />
<br/>

<input type="submit" value="[+f_edit+]" name="edit" />
<input type="submit" value="[+f_add+]" name="add" />
<input type="submit" value="[+f_delete+]" name="delete" />
<input type="submit" value="[+f_fetch+]" name="fetch" />
<input type="reset"/>
<br/>

<small>[+f_msg+]</small>

</fieldset>
</form>